/*****************THE CONTENTS MODULE***************/
.contentSection{
    /* background: url('/bg-images/01.jpg') no-repeat;
    background-size: cover; */
    background: darkslategray;
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    text-align: center;
    color: lightcyan;
    border: 1px solid gray;
    justify-items: center;
}

.hr{
    background: #fff;
    width: 100%;
}
.loading{
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -60%);
}

.circle{
    background-color: #fff !important;
    color: rgb(47, 79, 79) !important;
    font-weight: bold;
    padding: 5px 2px;
    border-radius: 100%;
    display: inline-grid;
    width: 2rem;
    height: auto;
}
.roundedBox{
    display: inline-grid;
    padding: 5px 10px;
    text-transform: uppercase;
    background: #fff;
    color: darkslategray;
    font-weight: bold;
    border-radius: 5px;
}
.icon{
    padding: 0px;
    margin: 0;    
    padding-right: 10px;
}

.contentMiddle{
    color: #fff !important;
    padding: 0;
    margin: 0;
}
.contentMiddle ul{
    display: flex;
    padding: 0;
    margin-top: 1rem;
}
.contentMiddle li{
    list-style: none;
    border-radius: 10px;
}   
.contentMiddle li p{
    padding: 5px;
    color: fff;
    text-transform: capitalize;
}

.contentFooter{
    background: #fff;
    color: green;
    width: 30%;
    text-align: center;
    padding: 8px 8px;
    border-radius: 8px;
}

/*************************THE CONTENTS BODY*************************************/
.contentsBody{
    background: rgb(47, 79, 79);
    border: 1px solid gray;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
}
.PN{
    background: rgb(47, 79, 79);
    width: 100%;
}

/*************MEDIA QUERY (------------RESPONSIVE VIEWS-----------)************/
@media only screen and (max-width: 667px){

    .contentFooter{
        padding: 5px 5px;
        font-size: 13px;
    }
    h1{
        font-size: 28px;
    }
    h3{
        font-size: 25px;
    }
    span{
        font-size: 14px;
        word-spacing: -1px;
    }
}