/************The Style Module for Sytling Applicaitons HOME**********/
.surahRaws{
    border: 1px solid lightgray !important;
    text-align: center;
    background-color: lightgray !important;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    color: rgb(41, 70, 70) !important;
}
.makeCircle{
    background-color: #fff !important;
    color: rgb(47, 79, 79) !important;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 100%;
    justify-content: center;
    display: grid;
    justify-items: center;
    width: 3rem;
    height: auto;
    margin-left: 40%;
}
.revelationName{
    text-transform: uppercase;
    padding: 8px;
}
.loading{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -30%);
}