/************The Style Module for Sytling Applicaitons HOME**********/
.surahRaws{
    border: 1px solid lightgray !important;
    text-align: center;
    background: lightgray !important;
    color: rgb(41, 70, 70) !important;
    /* background: url('/bg-images/11.jpg') no-repeat center center fixed;
    opacity: .8;
    color: #fff !important; */
    background-size: cover;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s ease all;
}
.surahRaws:hover{
    background: #fff !important;
    color: black !important;
    border: 0 !important;
}

.makeCircle{
    background-color: #fff !important;
    color: rgb(47, 79, 79) !important;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 100%;
    justify-content: center;
    display: grid;
    justify-items: center;
    width: 3rem;
    height: auto;
    margin-left: 40%;
}
.revelationName{
    text-transform: uppercase;
    padding: 8px;
}
.loading{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -30%);
}